*{
    font-size: 20px;
    font-family: 'Karla', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100%;
    background-color: rgb(125, 125, 125);
    display: flex;
    align-items: center;
    justify-content: center;
}

#main{
    width: 90%;
    height: 100%;
    background-color: antiquewhite;
    box-shadow: 12px 0 15px -4px rgba(0, 0, 0, 0.8), -12px 0 8px -4px rgba(0, 0, 0, 0.8);
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main h1{
    font-size: 2em;
    font-weight: 800;
    margin: 1em;
}

#img-div{
    width: 80%;
    max-height: 100%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0,0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.8);
    margin-bottom: 25px;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    padding: 20px;
    padding-bottom: 0;
}

#image{
    border-top-left-radius:4px ;
    border-right-color:4px ;
    max-height:100%;
    max-width: 100%;
}

figcaption{
    text-align: center;
    padding: 10px 20px;
    font-weight: 800;
    font-style: italic;
}

#tribute-info{
    padding: 2em 1em;
}

ul li{
    text-shadow: 1px 1px 1px 1px black;
    font-style: oblique;
    font-weight: 800;
    margin: .4em;
    padding: 1em; 
}

#tribute-info p{
    font-style: italic;
    font-weight: 800;

}

